body {
  background-image: url("images/papper.PNG");
  background-color: #0a0101; /* Used if the image is unavailable */
  height: 300vh; /* Set full viewport height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Take full height of the body */
}

.title   {
  width:40%;
}

.links{
  width: 40%;
}

.doodle{
  width: 40%;
  float: right;
  margin-right: 200px;
}

.buyButton{
  width: 40%;
  float: right;
} 

.tokens{
  float: right;
  width: 100%;
  margin-left: 200px;
  margin-top: 80px;
}

.tokenomics{
  padding-right: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} 

.Dex{
  margin-left: 150px;
  width: 300px;
}

.h69{
  margin-left:390px;
}

.g69{
  margin-left: 80px;
}

.j6969{
  margin-left: 180px;
  margin-top: 140px;
}

.links {
  margin-top: 250px; /* Adjust as needed */
}

.l1-Buttons {
  width: 100px;
  height: 70px;
  padding-left: 15px;
}

@keyframes shake-horizontal {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

@keyframes bounce-vertical {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}