body {
  background-image: url("images/papper.PNG");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* Set full viewport height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Take full height of the body */
}


.title   {
  width:40%;
}

.links{
  width: 40%;
}

.doodle{
  width: 40%;
  float: right;
  margin-right: 200px;
}

.buyButton{
  width: 40%;
  float: right;
} 

.tokenomics{
  width: 40%;
}

.links {
  margin-top: 250px; /* Adjust as needed */
}

.l1-Buttons {
  width: 100px;
  height: 70px;
  padding-left: 15px;
}

@keyframes shake-horizontal {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

@keyframes bounce-vertical {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

body {
  font-family: Arial, sans-serif;
  background: white;
  color: black;
}
#comment-board {
  border: 2px solid black;
  padding: 20px;
  background: white;
}
#comments {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
}
input, textarea, button {
  display: block;
  margin: 10px 0;
  width: 95%;
}
button {
  background: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
button:hover {
  background: grey;
}
.comment-item {
  margin-top: 10px;
  padding: 5px;
  border-bottom: 1px dashed black;
}
.heart {
  color: red;
  cursor: pointer;
}

